nav ul
{
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: :0;
	margin: 0;
	top: 0;

}

*
{
	text-align: center;
	align-items: center;
}

img:hover
{
	transform: scale(2);
}

section
{
    display: flex;
    flex-direction: column;
}
body
{
	background-color: #ffb266;
	width: 100%;
	padding: :0;
	margin: 0;
	top: 0;

}

a{
	color:  black;
}

header
{
	background-color: green;
	top: 0;
	width: 100%;
	padding: :0;
	margin: 0;
	position: absolute;
	top: 0px;
	padding-bottom: 20px;
}

header + h2
{
	margin-top: 150px;
}